body {
  margin: 0;
  font-family: "Oswald";
  background-color: #fff !important;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swal2-container {
  z-index: 2060 !important;
}

.MuiPaper-elevation3 {
  box-shadow: none !important;
}

.makeStyles-formControlLabel-22 span div {
  display: flex;
}

.makeStyles-formControlLabel-22 span p {
  margin: 50px 10px 0 0;
}

.makeStyles-formControlLabel-22 span img {
  width: 100%;
  height: 120px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  font-weight: 600;
}

.MuiBottomNavigationAction-root span {
  color: #334957;
}

.MuiDataGrid-footerContainer {
  display: none !important;
}
/* 
.MuiDataGrid-cell,
.MuiDataGrid-row {
  min-height: 70px !important;
  max-height: 70px !important;
  line-height: 70px !important;
} */
